
/*s-slides.css*/
body > .slide {margin-top: 75px;}
.slide {background: transparent url(/p1/img/bg_canvas.png) repeat-x 0px 37px; width: 984px; float: left; padding: 0 20px 108px;}
.slide h1 {font-size: 30px; padding: 0; margin: 0; height: 45px; line-height: 29px; font-weight: lighter;}
.slide h2 {font-size: 18px; padding: 0; margin: 0; height: 30px;}
.slide h3 {font-size: 16px; padding: 0; margin: 0;}
.slide h2 {display: none;}
.slide .canvas h2 {display: block;}
.slide .canvas {height: 515px; padding: 15px 45px 0; margin: 0 0 15px; background-color: white; background-repeat: no-repeat; background-position: top left; position: relative;}
.slide .reference {font-size: 12px; text-align: right;}
.slide .reference a {text-decoration: none;}
.a1 .canvas {background: white url(/p1/img/bg_a1.png) no-repeat top left;}
.a1 .bar_b_scope {position: absolute; top: 197px; left: 348px; width: 500px; height: 220px; z-index: 100;}
.a1 .bar_b {width: 54px; height: 220px; opacity: 0.5;}
.a1 .bar_b.active {background: white; border-left: 3px dotted black; border-right: 3px dotted black;}
.a1 ul {margin: 0; padding: 45px 20px 0; float: right; width: 490px; opacity: 0; font-weight: bold; font-size: 14px; list-style: none;
	-moz-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	-webkit-transform: translate3d(0,0,0);
}
.a1.show ul {opacity: 0.9}
.a1 li {padding-bottom: 5px;}
.a2 .on {width: 200px; position: absolute; top: 300px; left: 150px;}
.a2 .output_on {text-align: center; font-size: 26px;}
.a2 .off {width: 200px; position: absolute; top: 150px; left: 650px;}
.a2 .output_off {text-align: center; font-size: 26px;}
.a2 .range {position: absolute; top: 450px; left: 240px; background: transparent url(/p1/img/bg_range.png) no-repeat 0 24px; height: 76px; width: 497px; padding: 0 5px;}
.a2 .knob {background: transparent url(/p1/img/gx_knob.png) no-repeat 20px 20px; height: 76px; width: 70px;}
.a2 canvas {position: absolute; top: 100px; left: 325px; height: 300px; width: 300px;}
.a2 .on h3, .a2 .off h3 {text-align: center;}
.a3 ul {margin: 0; padding: 0; list-style: none;}
.a3 .canvas .options li {border: 2px solid #00457d; padding: 15px 2px; background-color: #c7eafc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.a3 .canvas li h3 {color: white; text-align: center; padding: 3px; background-color: #00457d;}
.a3 .canvas.active .options li {z-index: 10; position: absolute; top: 0; left: 0; width: 200px;}
.a3 .canvas.active .rank {position: absolute; top: 0; left: 0; text-align: center; font-size: 16px; opacity: 0.5; background-color: white; width: 200px; border: 2px dotted #00457d; padding: 30px 12px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.a4 .canvas {background-image: url(/p1/img/bg_a4_a.png); }
.a4.blue_scale .canvas {background-image: url(/p1/img/bg_a4_b.png), url(/p1/img/bg_a4_a.png);}
.a4.grey_scale .canvas {background-image: url(/p1/img/bg_a4_c.png), url(/p1/img/bg_a4_a.png);}
.a4.blue_scale.grey_scale .canvas, .a4.grey_scale.blue_scale .canvas {background-image: url(/p1/img/bg_a4_b.png), url(/p1/img/bg_a4_c.png), url(/p1/img/bg_a4_a.png);}
.a4 .canvas .blue_button {width: 111px; height: 115px; position: absolute; top: 139px; left: 679px;}
.a4 .canvas .grey_button {width: 109px; height: 115px; position: absolute; top: 140px; left: 821px;}
.a5 .canvas {background-image: url(/p1/img/bg_a5_a.png);}
.a5.blue_scale .canvas { background-image: url(/p1/img/bg_a5_b.png), url(/p1/img/bg_a5_a.png); }
.a5.grey_scale .canvas { background-image: url(/p1/img/bg_a5_c.png), url(/p1/img/bg_a5_a.png); }
.a5.blue_scale.grey_scale .canvas, .a5.grey_scale.blue_scale .canvas {background-image: url(/p1/img/bg_a5_d.png), url(/p1/img/bg_a5_c.png), url(/p1/img/bg_a5_b.png), url(/p1/img/bg_a5_a.png);}
.a5 .canvas .blue_button {width: 121px; height: 42px; position: absolute; top: 104px; left: 834px;}
.a5 .canvas .grey_button {width: 121px; height: 42px; position: absolute; top: 174px; left: 834px;}
.a6 .canvas {background-image: url(/p1/img/bg_a6_a.png);}
.a6.blue_scale .canvas {background-image: url(/p1/img/bg_a6_b.png), url(/p1/img/bg_a6_a.png);}
.a6.grey_scale .canvas {background-image: url(/p1/img/bg_a6_c.png), url(/p1/img/bg_a6_a.png);}
.a6.blue_scale.grey_scale .canvas, .a6.grey_scale.blue_scale .canvas {background-image: url(/p1/img/bg_a6_c.png), url(/p1/img/bg_a6_b.png), url(/p1/img/bg_a6_a.png);}
.a6 .canvas .blue_button {width: 120px; height: 45px; position: absolute; top: 105px; left: 835px;}
.a6 .canvas .grey_button {width: 120px; height: 45px; position: absolute; top: 175px; left: 835px;}
.a7 .canvas {background-image: url(/p1/img/bg_a7_a.png);}
.a7.blue_scale .canvas {background-image: url(/p1/img/bg_a7_b.png), url(/p1/img/bg_a7_a.png);}
.a7.grey_scale .canvas {background-image: url(/p1/img/bg_a7_c.png), url(/p1/img/bg_a7_a.png);}
.a7.blue_scale.grey_scale .canvas, .a7.grey_scale.blue_scale .canvas {background-image: url(/p1/img/bg_a7_b.png), url(/p1/img/bg_a7_c.png), url(/p1/img/bg_a7_a.png);}
.a7 .canvas .blue_button {width: 180px; height: 38px; position: absolute; top: 69px; left: 678px;}
.a7 .canvas .grey_button {width: 180px; height: 38px; position: absolute; top: 123px; left: 678px;}
.a8 .canvas {background-image: url(/p1/img/bg_a8_a.png);}
.a8.blue_scale .canvas { background-image: url(/p1/img/bg_a8_b.png), url(/p1/img/bg_a8_a.png); }
.a8.grey_scale .canvas { background-image: url(/p1/img/bg_a8_c.png), url(/p1/img/bg_a8_a.png); }
.a8.blue_scale.grey_scale .canvas, .a8.grey_scale.blue_scale .canvas {background-image: url(/p1/img/bg_a8_d.png), url(/p1/img/bg_a8_c.png), url(/p1/img/bg_a8_b.png), url(/p1/img/bg_a8_a.png);}
.a8 .canvas .blue_button {width: 121px; height: 42px; position: absolute; top: 104px; left: 834px;}
.a8 .canvas .grey_button {width: 121px; height: 42px; position: absolute; top: 174px; left: 834px;}
.a9 {}
.a10 .canvas {background-image: url(/p1/img/bg_a10_a.png);}
.a10.a_scale .canvas { background-image: url(/p1/img/bg_a10_b.png), url(/p1/img/bg_a10_a.png); }
.a10.b_scale .canvas { background-image: url(/p1/img/bg_a10_c.png), url(/p1/img/bg_a10_a.png); }
.a10.c_scale .canvas { background-image: url(/p1/img/bg_a10_d.png), url(/p1/img/bg_a10_a.png); }
.a10.a_scale.b_scale .canvas, .a10.b_scale.a_scale .canvas {background-image: url(/p1/img/bg_a10_c.png), url(/p1/img/bg_a10_b.png), url(/p1/img/bg_a10_a.png);}
.a10.a_scale.c_scale .canvas, .a10.c_scale.a_scale .canvas {background-image: url(/p1/img/bg_a10_d.png), url(/p1/img/bg_a10_b.png), url(/p1/img/bg_a10_a.png);}
.a10.b_scale.c_scale .canvas, .a10.c_scale.b_scale .canvas {background-image: url(/p1/img/bg_a10_d.png), url(/p1/img/bg_a10_c.png), url(/p1/img/bg_a10_a.png);}
.a10.a_scale.b_scale.c_scale .canvas, .a10.c_scale.b_scale.a_scale .canvas {background-image: url(/p1/img/bg_a10_d.png), url(/p1/img/bg_a10_c.png), url(/p1/img/bg_a10_b.png), url(/p1/img/bg_a10_a.png);}
.a10 .canvas .a_column {width: 261px; height: 369px; position: absolute; top: 75px; left: 76px;}
.a10 .canvas .b_column {width: 274px; height: 369px; position: absolute; top: 75px; left: 347px;}
.a10 .canvas .c_column {width: 279px; height: 369px; position: absolute; top: 75px; left: 632px;}
.a11 .canvas {background-image: url(/p1/img/bg_a11_a.png);}
.a11 .canvas .a_button {width: 768px; height: 35px; position: absolute; top: 126px; left: 50px;}
.a11 .canvas .a_button.show {background-image: url(/p1/img/bg_a11_b.png);}
.a11 .canvas .b_button {width: 768px; height: 57px; position: absolute; top: 169px; left: 50px;}
.a11 .canvas .b_button.show {background-image: url(/p1/img/bg_a11_c.png);}
.a11 .canvas .c_button {width: 768px; height: 57px; position: absolute; top: 255px; left: 50px;}
.a11 .canvas .c_button.show {background-image: url(/p1/img/bg_a11_c.png);}
.a11 .canvas .d_button {width: 768px; height: 57px; position: absolute; top: 350px; left: 50px;}
.a11 .canvas .d_button.show {background-image: url(/p1/img/bg_a11_c.png);}
.a12 .canvas {background-image: url(/p1/img/bg_a12_a.png);}
.a12.blue_scale .canvas { background-image: url(/p1/img/bg_a12_b.png), url(/p1/img/bg_a12_a.png); }
.a12.grey_scale .canvas { background-image: url(/p1/img/bg_a12_c.png), url(/p1/img/bg_a12_a.png); }
.a12.blue_scale.grey_scale .canvas, .a12.grey_scale.blue_scale .canvas {background-image: url(/p1/img/bg_a12_d.png), url(/p1/img/bg_a12_c.png), url(/p1/img/bg_a12_b.png), url(/p1/img/bg_a12_a.png);}
.a12 .canvas .graph {width: 600px; height: 330px; position: absolute; top: 80px; left: 220px;}
.a12 .canvas .blue_button {width: 122px; height: 45px; position: absolute; top: 103px; left: 794px;}
.a12 .canvas .grey_button {width: 122px; height: 44px; position: absolute; top: 173px; left: 794px;}
.a13 .canvas {background: white url(/p1/img/bg_a13.jpg) no-repeat top left; position: relative;}
.a13 .canvas table {margin: 50px 0 0; padding: 0; border-spacing: 0; border-collapse: collapse;}
.a13 .canvas tr td {opacity: 0.99;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}
.a13 .canvas tr.inactive td {opacity: 0.4;}
.a13 .canvas tr:nth-child(1).inactive td:nth-child(1) {opacity: 1;}
.a13 .canvas th {padding: 20px 5px; vertical-align: top;}
.a13 .canvas th h3 {padding-right: 50px;}
.a13 .canvas th p {padding: 0 50px 0 0; margin: 0; font-weight: bold; font-size: 14px;}
.a13 .canvas td {padding: 0px 5px;}
.a13 .canvas td span {padding: 2px; float: left; text-align: right; position: relative; line-height: 16px;}
.a13 .canvas td span {padding-top: 8px; padding-bottom: 9px;}
.a13 .canvas tr.inactive td span .magnify {opacity: 0;}
.a13 .canvas td span .magnify {font-size: 24px; text-align: center; line-height: 60px; display: none; position: absolute; right: 0px; width: 60px; height: 60px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}
.a13 .canvas td span.magnified .magnify {display: block;}
.a13 th:nth-child(2) {width: 330px;}
.a13 th:nth-child(3) {width: 250px;}
.a13 th:nth-child(4) {width: 200px;}
.a13 tr:nth-child(1) td:nth-child(1) {padding: 0px; background: none;}
.a13 tr:nth-child(1) td:nth-child(1) span {display: block; white-space: nowrap; width: 10px; color:#00457d;
	-moz-transform: rotate(270deg) translate(40px,-20px);
	-webkit-transform: rotate(270deg) translate(-10px, -20px);
}
.a13 tr td:nth-child(1),
.a13 tr:nth-child(1) td:nth-child(2) {padding: 17px 15px; border: none; background: transparent url(/p1/img/bn_a13.png) no-repeat 10px 14px; color: white;}
.a13 tr td:nth-child(2),
.a13 tr:nth-child(1) td:nth-child(3) {border-left: 1px solid #00457d;}
.a13 tr td:nth-child(2) span,
.a13 tr:nth-child(1) td:nth-child(3) span,
.a13 tr td:nth-child(2) span .magnify,
.a13 tr:nth-child(1) td:nth-child(3) span .magnify {background: #00457d; color: white;}
.a13 tr td:nth-child(3) span,
.a13 tr:nth-child(1) td:nth-child(4) span,
.a13 tr td:nth-child(3) span .magnify,
.a13 tr:nth-child(1) td:nth-child(4) span .magnify {background: #00aeef; color: white;}
.a13 tr td:nth-child(4) span,
.a13 tr:nth-child(1) td:nth-child(5) span,
.a13 tr td:nth-child(4) span .magnify,
.a13 tr:nth-child(1) td:nth-child(5) span .magnify {background: #e8a713; color: white;}
.a14 .canvas {background-image: url(/p1/img/bg_a14_a.png);}
.a14.blue_scale .canvas { background-image: url(/p1/img/bg_a14_b.png), url(/p1/img/bg_a14_a.png); }
.a14.grey_scale .canvas { background-image: url(/p1/img/bg_a14_c.png), url(/p1/img/bg_a14_a.png); }
.a14.blue_scale.grey_scale .canvas, .a14.grey_scale.blue_scale .canvas {background-image: url(/p1/img/bg_a14_d.png), url(/p1/img/bg_a14_c.png), url(/p1/img/bg_a14_b.png), url(/p1/img/bg_a14_a.png);}
.a14 .canvas .blue_button {width: 120px; height: 45px; position: absolute; top: 105px; left: 795px;}
.a14 .canvas .grey_button {width: 120px; height: 45px; position: absolute; top: 175px; left: 795px;}
.a15 .graphA {background-image: url(/p1/img/bg_a15_a.png); width: 440px; height: 340px; position: absolute; top: 100px; left: 20px;
	-webkit-transform: scale(1) translate(0, 0);
	-moz-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}
.a15 .graphB {background-image: url(/p1/img/bg_a15_b.png); width: 440px; height: 340px; position: absolute; top: 100px; left: 520px;
	-webkit-transform: scale(1) translate(0, 0);
	-moz-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}
.a15.graphA .graphA {
	-moz-transform: scale(1.2) translate(40px, 20px);
	-webkit-transform: scale(1.2) translate(40px, 20px);
}
.a15.graphB .graphB {
	-moz-transform: scale(1.2) translate(-40px, 20px);
	-webkit-transform: scale(1.2) translate(-40px, 20px);
}
.a15.graphA .graphB,
.a15.graphB .graphA {
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
}
.a16 .canvas {background-image: url(/p1/img/bg_a16.png);}
.a17 {}


/*s-tablet.css*/
* {font-family: "Arial"; color: #00457d;
	-webkit-user-select: none;
	-moz-user-select: none;
}
body {margin: 0;}
#display {width: 1024px; background: white url(/img/bg.jpg) no-repeat top left; overflow: hidden; height: 768px; position: relative;}
#navigation {position: absolute; top: 0; left: 0; z-index: 100;}
#navigation h4 {position: absolute; z-index: 100; padding: 0 10px; margin: 0; text-indent: -1000px;}
#navigation h4.home {top: 0px; left: 0px; width: 117px; height: 50px; background: transparent url(/img/bn_home.png) no-repeat top left;}
#navigation h4.index {top: 0px; left: 117px; width: 117px; height: 50px; background: transparent url(/img/bn_nav.png) no-repeat top left;}
#navigation h4.references {top: 0px; left: 234px; width: 117px; height: 50px; background: transparent url(/img/bn_info.png) no-repeat top left;}
.docs #navigation h4.references {background-image: url(/img/bn_info_sel.png);}
#navigation ul {position: absolute; width: 220px; background: white url(/p1/img/bn_index.png) no-repeat 15px 10px; top: 0px; left: 0px; display: block; z-index: 90; min-height: 713px; list-style: none; padding: 55px 10px 0; margin: 0;
	-webkit-transform: translate3d(-300px, 0, 0);
	-moz-transform: translate(-300px, 0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-moz-box-shadow: 0px 2px 10px #333333;
	-webkit-box-shadow: 0px 2px 10px #333333;
}
#navigation div {display: none;}
#navigation li {padding: 10px 10px; border-top: 1px solid #00457d;}
#navigation.index {opacity: 0.9; min-height: 748px; max-width: 500px;}
#navigation.index h4.index {width: 220px; background: none; left: 0px;}
#navigation.index h4.references {display: none;}
#navigation.index h4.home {display: none;}
#navigation.index ul {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate(0, 0);
}
#presentation {height: 628px; overflow: hidden; padding: 70px 0; opacity: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
}
#presentation.ready {opacity: 1;}
.docs #documentation {display: block;}
#documentation {display: none; position: absolute; top: 0; left: 0; background: transparent url(/img/bg_docs.png) no-repeat top left; width: 1024px; height: 650px; padding: 118px 20px 0; z-index: 500;}
#documentation h2 {padding: 20px; margin: 0;}
#documentation div.close {width: 70px; height: 70px; position: absolute; top: 120px; left: 930px;}
#documentation ul {margin: 0; padding: 20px 40px; float: left; display: none; list-style: none; width: 460px; height: 400px; background-color: #cee8f5;}
#documentation li, 
#documentation li a {font-size: 18px; font-weight: bold;}
#documentation li {padding: 7px;}
#documentation ul:nth-child(2) li {font-size: 20px;padding: 15px 30px 15px 10px;}
#documentation ul:nth-child(2) li.selected {background-color: #cee8f5;}
#documentation ul:nth-child(2){padding: 0 0 20px 20px; display: block; float: left; width: 400px; height: 400px; background-color: white;}

