
/*s-desktop.css*/
body {min-height: 1044px; position: relative;}
.desktop_wrapper {width: 1024px; height: 768px; position: absolute; top: 50%; left: 50%; margin-left: -636px; margin-top: -522px;
	background: transparent url(/img/bg_ipad.png) no-repeat left top;
	padding: 115px 124px 161px 125px;
}
.desktop_mask {width: 1024px; height: 768px; position: relative; overflow: hidden;}
.warning {width: 1024px; height: 768px; position: absolute; z-index: 1000; top: 50%; left: 50%; margin-left: -511px; margin-top: -408px; text-align: center; background: #ffffff;}
.warning h1 {padding: 270px 50px 30px;}
.warning p {padding: 0 50px 20px;}

/*s-tablet.css*/
* {font-family: "Arial"; color: #00457d; font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
}
body {margin: 0;}
.display {background: white url(/img/bg.jpg) no-repeat top left; position: relative; width: 1024px; height: 768px;}
ul {position: absolute; top: 110px; left: 262px; width: 500px; margin: 0; padding: 0; background: white; list-style: none;
	box-shadow: 0px 2px 10px #333333;
	-moz-box-shadow: 0px 2px 10px #333333;
	-webkit-box-shadow: 0px 2px 10px #333333;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}
li {border-top: 1px solid #999999; border-bottom: 1px solid #cccccc;}
li a {padding: 25px 20px; text-align: center; display: block;}
li:first-child {border-top: none;}
li:last-child {border-bottom: none;}
ul {opacity: 0;}
.show ul {opacity: 1;}
.splash {position: absolute; top: 120px; left: 20px; height: 528px; width: 984px; z-index: 10; background: white url(/img/logo_large.png) no-repeat center center;
	box-shadow: 0px 2px 10px #333333;
	-moz-box-shadow: 0px 2px 10px #333333;
	-webkit-box-shadow: 0px 2px 10px #333333;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}
.splash.entered {opacity: 0;}
